.top-extra {
  font-size: 14px;
  background: #fa0;
  display: inline-block;
  border: 1px solid black;

  &__column {
    width: 18px;
    border-bottom: 1px solid black;
    vertical-align: bottom;
    display: inline-block;

    &:last-of-type {
      border: none;
    }

    &__cell {
      display: block;
      height: 18px;
      width: 18px;
      border-right: 1px solid black;
      text-align: center;
      padding-top: 1px;
      cursor: default;
      border-top: 1px solid black;

      &:hover {
        background-color: #f8e473;
      }

      &--completed {
        position: relative;

        &:before, &:after {
          position: absolute;
          left: 8px;
          top: -4px;
          content: '';
          height: 26px;
          width: 1px;
          background-color: #333;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
