.field {
  font-size: 14px;
  background: #eee;
  display: inline-block;

  &__row {
    margin-bottom: -3px;

    &__cell {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      display: inline-block;
      width: 18px;
      height: 18px;

      &--filled {
        background-color: black;
      }
    }
  }
}
